:root {
  --color: #292F36;
  --weak-color: #4D5053;
  --accent-color: #CDA274;
  --serif: "Jost", serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}


header .container {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
}

header a{
margin-bottom: 71px;
}

header ul {
  display: flex;
  gap: 40px;
}

header li {
  color: var(--color);
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.create {
  background-image: url(image/background-create.png);
  width: 1440px;
  height: 831px;
  margin: auto;
}

.create h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  max-width: 595px;
  color: var(--color);
  padding: 183px 0px 0px 0px;
  margin: 0;
}

.create p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  max-width: 577px;
  padding-top: 24px;
}

.create button {
  height: 71px;
  width: 207px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color);
  margin-top: 35px;
}

.create button p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
  margin: 0;
  padding: 0;
}

.design {
padding-bottom: 130px;
}

.design .container {
  display: flex;
  justify-content: space-around;
}

.design .furniture {
  text-align: center;
}

.design h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  color: var(--color);
  margin-top: 135px;
}

.design p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  max-width: 317px;
  margin: auto;
  margin-bottom: 68px;
}

.design a {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.estimate {
  margin-bottom: 140px;
}

.estimate .container {
  background-image: url(image/background-estimate.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 645px;
}

.estimate h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  color: var(--color);
  max-width: 50%;
}

.estimate p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  max-width: 531px;
  margin-bottom: 30px;
}

.estimate .call {
  display: flex;
  margin-bottom: 50px;
}

.estimate h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--weak-color);
  margin: 0 0 0 20px;
}

.estimate button {
  padding: 21px 67px 23px 34px;
  color: white;
  background-color: var(--color);
  border-radius: 10px;
}

.estimate a {
  margin: 0;
}

.reviews {
  padding-bottom: 140px;
}

.reviews .container {
  width: 1200px;
  height: 675px;
  background-color: #F4F0EC;
  border-radius: 50px;
}

.reviews h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  columns: var(--color);
  max-width: 50%;
  margin: auto;
  padding: 103px 360px 46px 360px;
}


.allreviews {
  display: flex;
}

.reviews .review {
  width: 318px;
  height: 287px;
  background-color: white;
  border-radius: 20px;
  padding-left: 38px;
  margin-right: 16px;
}

.reviews .review:first-child {
  margin-left: 50px;
}

.reviews .review:last-child {
  margin-right: 0;
}

.reviews .people {
  display: flex;
  padding: 50px 0 0 0;
}

.reviews .name {
  padding-left: 10px;
}

.reviews h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: var(--color);
  margin: 0;
}

.reviews h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--weak-color);
  margin: 0;
}

.reviews p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--weak-color);
  max-width: 274px;
}

.brands ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

.projects h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  color: var(--color);
  text-align: center;
  margin: 0;
}

.projects p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  text-align: center;
  max-width: 786px;
  margin: auto;
  margin-top: 24px;
  margin-bottom: 70px;
}

.project-first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.project-second {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}

.projects .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.projects h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: var(--color);
  margin: 0;
  margin-top: 24px;
}

.projects h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  margin: 0;
}

.projects .img {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #F4F0EC;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.brands {
  padding-bottom: 100px;
}

.statistics {
  background-color: #F4F0EC;
  width: 1400px;
  height: 475px;
  margin: auto;
  margin-bottom: 130px;
}

.statistics .container {
  display: flex;
  justify-content: space-between;
}

.statistic {
  width: 288px;
  height: 195px;
  text-align: center;
  padding-top: 140px;
}

.statistics h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  color: var(--accent-color);
  margin: 0;
}

.statistics h3 {
  font-family: var(--weak-color);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  columns: var(--weak-color);
  margin: 0;
}

.RecentBlogs {
  padding-bottom: 141px;
}

.RecentBlogs h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  color: var(--color);
  text-align: center;
  margin-bottom: 21px;
}

.RecentBlogs p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  text-align: center;
  max-width: 50%;
  margin: auto;
  margin-bottom: 70px;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 40px;
}

.RecentBlogs .blog {
  height: 515px;
  width: 387px;
  border: 1px solid #F4F0EC;
  border-radius: 30px;
}

.RecentBlogs .background {
  position: relative;
  padding: 21px 21px 41px 21px;
}

.RecentBlogs .background h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--weak-color);
  margin: 0 0 40px 0;
  padding: 9px 10px 11px 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
  top: 224px;
  margin-left: 24px;

}

.RecentBlogs h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: var(--color);
  max-width: 337px;
  margin: 0;
  margin-left: 21px;
}

.RecentBlogs .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RecentBlogs h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--weak-color);
  margin: 0;
  text-align: center;
  margin-left: 21px;
}

.RecentBlogs .img {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: #F4F0EC;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  margin-right: 21px;
  margin-bottom: 40.5px;
}

.connect {
  padding-bottom: 80px;
}


.connect .container {
  height: 414px;
  background-color: var(--color);
  border-radius: 60px;

}

.connect h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  color: white;
  margin: 0;
  padding: 100px 333px 9px 333px;
}

.connect h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: white;
  padding-left: 414px;
  margin: 0;
}
.connect_btn {
  display: inline-block;
  margin-left: 474px;
  margin-top: 31px;
}

.connect button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 241px;
  height: 71px;
  background-color: #CDA274;
  border-radius: 10px;
}

.connect p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

footer .info {
  display: flex;
  justify-content: space-between;

}

footer p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--color);
  max-width: 80%;
}

.networks .network {
  display: flex;
  justify-content: start;
  padding: 0;
}

.network li {
  padding-right: 16.8px;
}

footer h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: var(--color);
}

footer ul {
  padding: 0;
}

footer li {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--color);
  padding-bottom: 30px;
}

footer .column:first-child {
  width: 393px;
  height: 374px;
}

footer .column:not(:first-child):not(:last-child) {
  width: 210px;
  height: 374px;
}

footer .column:last-child {
  width: 337px;
  height: 374px;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #A6A4A4;
  opacity: 0.2;
  margin-top: 110px;
}

footer h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #4D5053;
  text-align: center;
}

footer span {
  color: var(--accent-color);
}