:root {
  --color: #292F36;
  --weak-color: #4D5053;
  --accent-color: #CDA274;
  --serif: "Jost", serif;
}

.container {
  width: 1200px;
  margin: auto;
}


header .container {
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
}

header li {
  padding-right: 40px;
  color: var(--color);
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
}

.create {
  background-image: url(image/background-create.png);
  width: 1440px;
  height: 831px;
  margin: auto;
}

.create h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  line-height: 96px;
  max-width: 50%;
  color: var(--color);
}

.create p {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  max-width: 50%;
}

/*разобраться с размером кнопок */
.create button {
  padding: 22px 67px 22px 34px;
  border-radius: 10px;
  color: #FFFFFF;
  background-color: var(--color);
  font-size: 18px;
}

.design .container {
  display: flex;
  justify-content: space-around;
}

.design .furniture {
  text-align: center;
}

.design h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  color: var(--color);
}

.design p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  max-width: 77%;
  margin: auto;
}

.design a {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.estimate .container {
  background-image: url(image/background-estimate.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 645px;
}

.estimate h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  color: var(--color);
  max-width: 50%;
}

.estimate p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  max-width: 44%;
}

.estimate .call {
  display: flex;
  margin-bottom: 50px;
}

.estimate h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: var(--weak-color);
  margin: 0 0 0 20px;
}

.estimate button {
  padding: 21px 67px 23px 34px;
  color: white;
  background-color: var(--color);
  border-radius: 10px;
}

.estimate a {
  margin: 0;
}

.reviews .container {
  width: 1200px;
  height: 675px;
  background-color: #F4F0EC;
  border-radius: 50px;
}

.reviews h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 58px;
  text-align: center;
  columns: var(--color);
  max-width: 50%;
  margin: auto;
  padding: 103px 360px 46px 360px;
}


.allreviews {
  display: flex;
  justify-content: space-around;
}

.reviews .review {
  width: 354px;
  height: 287px;
  background-color: white;
  border-radius: 20px;
}

.reviews .people {
  display: flex;
  padding: 50px 0 0 0;
}

/*как поставить тексти фото посередине блока*/
.reviews .name {
  padding-left: 10px;
}

.reviews h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: var(--color);
  margin: 0;
}

.reviews h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: var(--weak-color);
  margin: 0;
}

.reviews p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--weak-color);
  max-width: 70%;
}

.brands ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 140px;
}

.projects h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  color: var(--color);
  text-align: center;
}

.projects p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  text-align: center;
  max-width: 65%;
  margin: auto;
}

.project-first {
  display: flex;
  justify-content: space-between;
}

.project-second {
  display: flex;
  justify-content: space-between;
}

.projects .column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.projects h3 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  color: var(--color);
  margin: 0;
}

.projects h4 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  margin: 0;
}

.projects .img {
  display: flex;
  width: 70px;
  height: 70px;
  background-color: #F4F0EC;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

.statistics {
  background-color: #F4F0EC;
  width: 1400px;
  height: 475px;
  margin: auto;
}

.statistics .container {
  display: flex;
  justify-content: space-between;
}

.statistic {
  width: 288px;
  height: 195px;
}

.statistics h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  color: var(--accent-color);
  margin: 0;
}

.statistics h3 {
  font-family: var(--weak-color);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  columns: var(--weak-color);
  margin: 0;
}

.RecentBlogs h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  color: var(--color);
  text-align: center;
}

.RecentBlogs p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--weak-color);
  text-align: center;
  max-width: 50%;
  margin: auto;
}

.blogs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.RecentBlogs .blog {
  height: 515px;
  width: 387px;
  border: 1px solid #F4F0EC;
  border-radius: 30px;
}

/*задала background pos:a, ф h3 pos:r*/

.RecentBlogs.background {
  position: relative;
}

.RecentBlogs .name h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--weak-color);
  margin: 0 0 40px 0;
  pad: 9px 10px 11px 10px;
  background-color: white;
  border-radius: 10px;
  position: absolute;

}

.RecentBlogs h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  color: var(--color);
  max-width: 80%;
  margin: 0;
}

.RecentBlogs .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RecentBlogs h5 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--weak-color);
  margin: 0;
  text-align: center;
}

.RecentBlogs .img {
  display: flex;
  width: 52px;
  height: 52px;
  background-color: #F4F0EC;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}

/*как все поставить посередине*/

.connect .container {
  height: 414px;
  background-color: var(--color);
  text-align: center;

}

.connect h2 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 75px;
  color: white;
  margin: 0;
}

.connect h3 {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: white;
  margin: 0;
}

.connect button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 241px;
  height: 71px;
  background-color: #CDA274;
  border-radius: 10px;
}

.connect p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: white;
}

footer .info {
  display: flex;
  justify-content: space-between;

}

footer p {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--color);
  max-width: 80%;
}

.networks .network {
  display: flex;
  justify-content: start;
  padding: 0;
}

.network li {
  padding-right: 16.8px;
}

footer h4 {
  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 38px;
  color: var(--color);
}

footer ul {
padding: 0;
}

footer li {
  font-family: var(--serif);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: var(--color);
  padding-bottom: 30px;
}

footer .column:first-child {
width: 393px;
height: 374px;
}

footer .column:not(:first-child):not(:last-child) {
  width: 210px;
  height: 374px;
}

footer .column:last-child {
width: 337px;
height: 374px;
}

hr {
  margin: 0;
  border: 0;
  height: 1px;
  background-color: #A6A4A4;
  opacity: 0.2;
  margin-top: 110px;
}

footer h5 {
  font-family: var(--serif);
  font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;
color: #4D5053;
text-align: center;
}

footer span {
color: var(--accent-color);
}